webservices/spring-ws/src/main/webapp/WEB-INF/schemas/xsd/client-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	targetNamespace="http://www.xpadro.spring.samples.com/orders" 
	xmlns:orders="http://www.xpadro.spring.samples.com/orders">
	
  <xs:element name="clientDataResponse">
    <xs:complexType>
      <xs:attribute name="amount" use="required" type="xs:decimal"/>
      <xs:attribute name="confirmationId" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="orderDate" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
