webservices/spring-ws/src/main/webapp/WEB-INF/schemas/xsd/client-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	targetNamespace="http://www.xpadro.spring.samples.com/orders" 
	xmlns:orders="http://www.xpadro.spring.samples.com/orders">
	
  <xs:element name="clientDataRequest">
    <xs:complexType>
      <xs:attribute name="clientId" use="required" type="xs:NCName"/>
      <xs:attribute name="productId" use="required" type="xs:NCName"/>
      <xs:attribute name="quantity" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
